= render 'layouts/header'


.container
  .text-left
    %h1 Actu


.container
  .text-center
    %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/videoseries?list=PL8apk9p4xESvCTTOYYt_IRhZ4udBhXEmu", :width => "560"}
    %br
    %br
    %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/videoseries?list=PL8apk9p4xESvCTTOYYt_IRhZ4udBhXEmu&index=1", :width => "560"}
    %br
    %br
    %iframe{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/videoseries?list=PL8apk9p4xESvCTTOYYt_IRhZ4udBhXEmu&index=2", :width => "560"}
